.r1{
	background-color:lightgrey;
	height: 420px;
	width:800px;
	margin-top: 180px;
	margin-left: auto;
	margin-right: auto;
}
.s2{
	height: 320px;
	width:200;
	background-color: white;
	margin-top: 50px;
	border-radius:30px;

}
.s3{
	height: 320px;
	width:200;
	background-color: white;
	margin-top: 50px;
	border-radius: 30px;
	margin-left: 20px;

}
.s4{
	height: 320px;
	width:200;
	background-color: white;
	margin-top: 50px;
	border-radius: 30px;
	margin-left: 20px;
}
.r2 i{
	background-color:blue;
	width: 55px;
	height: 50px;
	margin-left:70px;
	margin-top: 30px;
	margin-right: auto;
	font-size: 40px;
	padding-left: 13px;
    padding-top: 5px;
	/*border-radius:20px;*/
	color: white;
	


}
.r3 h2{
	color: black;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 20px;
}
.r4 p{
	color:lightgrey;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 13px;
	text-align: center;
	border-bottom: 3px solid lightblue;
	 padding-bottom: 10px;
}
.d1 i{
	background-color:blue;
	width: 55px;
	height: 50px;
	margin-left:70px;
	margin-top: 30px;
	margin-right: auto;
	font-size: 40px;
	padding-left: 13px;
    padding-top: 5px;
	/*border-radius:20px;*/
	color: white;
	


}
.d2 h2{
	color: black;
	margin-left: 50px;
	margin-top: 20px;
	font-size: 20px;
}
.d3 p{
	color: lightgrey;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	border-bottom: 3px solid lightblue;
	 padding-bottom: 10px;
}
.m1 i{
	background-color:blue;
	width: 55px;
	height: 50px;
	margin-left:70px;
	margin-top: 30px;
	margin-right: auto;
	font-size: 40px;
	padding-left: 13px;
    padding-top: 5px;
	/*border-radius:20px;*/
	color: white;
	


}
.m2 h2{
	color: black;
	margin-left:60px;
	margin-top: 20px;
	font-size: 20px;
}
.m3 p{
	color: lightgrey;
	font-size: 10px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	 border-bottom: 3px solid lightblue;
	 padding-bottom: 10px;
	
}
.r5 button{
	border-radius: 30px;
	height: 30px;
	width: 120px;
	margin-left: 40px;
	background-color: blue;
	color: white;
	border-color:blue;
	font-size: 10px;
}
.d5 button{
	border-radius: 30px;
	height: 30px;
	width: 120px;
	margin-left: 40px;
	background-color:blue;
	color: white;
	border-color:blue;
	font-size: 10px;
}
/*.m5{
	border-top:3px solid lightblue; 
	padding-top: -30px;
}*/

.m5 button{
	border-radius: 30px;
	height: 30px;
	width: 120px;
	margin-left: 40px;
	background-color: blue;
	color: white;
	border-color:blue;
	font-size: 10px;

}
 hr .r41{
	color: blue;
}



