.container{
	background-color:lavender;
	margin:160px auto  0px auto;
    }
 .frfc{
	height:100px;
	background-color:white;
	border:10px solid lavender;
    }
.frfc i{
	font-size:40px;
	color:#00bfff;
	margin:20px 0px 20px 5px;
    }
.frfc h2{
    	margin:10px 0px 0px 50px;
    }
    .frfc p{
    	margin:5px 0px 0px 33px;
    }
.frsc p{
	margin:5px 0px 0px 50px;
}
.frsc{
	height:100px;
	background-color:white;
	border:10px solid lavender;
}
.frsc i{
	font-size:40px;
	color:orange;
	margin:20px 0px 20px 5px;
}
.frsc h2{
	margin:10px 0px 0px 50px;
}
.frsc p{
	margin:5px 0px 0px 0px;
}
.frtc{
	height:100px;
	background-color:white;
	border:10px solid lavender;
}
.frtc i{
	font-size:40px;
	color:#4cbb17;
	margin:20px 0px 20px 5px;
}
.frtc h2{
	margin:10px 0px 0px 6px;
}
.frtc p{
	margin:5px 0px 0px 20px;
}
.frfoc{
	height:100px;
	background-color:white;
	border:10px solid lavender;
}
.frfoc i{
	font-size:40px;
	color:red;
	margin:20px 0px 20px 5px;
}
.frfoc h2{
	margin:10px 0px 0px 50px;
}
.frfoc p{
	margin:5px 0px 0px 30px;
}
.srfc{
	height:100px;
	background-color:white;
	border:10px solid lavender;
}
.srfc i{
	font-size:40px;
	color:red;
	margin:20px 0px 20px 70px;
}
.srfc h2{
	margin:10px 0px 0px 5px;
	color:#4cbb17;
}
.srfc p{
	margin:5px 0px 0px 5px;
}
.srsc{
	height:100px;
	background-color:white;
	border:10px solid lavender;
}
.srsc h2{
	color:orange;
	margin:10px 0px 0px 5px;
}
.srsc p{
	margin:5px 0px 0px 5px;
}
.srsc i{
	font-size:40px;
	color:#4cbb17;
	margin:20px 0px 20px 70px;
}
.srtc{
	height:100px;
	background-color:white;
	border:10px solid lavender;
}
.srtc h2{
	margin:10px 0px 0px 5px;
	color:orange;
}
.srtc p{
	margin:5px 0px 0px 0px;
}
.srtc i{
	font-size:40px;
	color:orange;
	margin:20px 0px 20px 60px; 
}
.srfoc{
	height:100px;
	background-color:white;
	border:10px solid lavender;
}
.srfoc h2{
	color:#00bfff;
	margin:10px 0px 0px 5px;
}
.srfoc p{
	margin:5px 0px 0px 5px;
}
.srfoc i{
	font-size:40px;
	color:#00bbff;
	margin:20px 0px 20px 60px;
}
.trfc{
	height:130px;
	background-color:white;
	border:10px solid lavender;
}
.trfc h2{
	color:#00bbff;
	margin:10px 0px 0px 5px;
}
.trfc p{
	margin:5px 0px 0px 5px;
}
.trfc i{
	font-size:40px;
	color:#00bbff;
	margin:20px 0px 20px 60px;
}
.trsc{
	height:130px;
	background-color:white;
	border:10px solid lavender;
}
.trsc h2{
	color:orange;
	margin:10px 0px 0px 5px;
}
.trsc p{
	margin:5px 0px 0px 5px;
}
.trsc i{
	font-size:40px;
	color:orange;
	margin:20px 0px 20px 60px;
}
.trtc{
	height:130px;
	background-color:white;
	border:10px solid lavender;
}
.trtc h2{
	color:#4cbb17;
	margin:10px 0px 0px 5px;
}
.trtc p{
	margin:5px 0px 0px 5px;
}
.trtc i{
	font-size:40px;
	color:#4cbb17;
	margin:20px 0px 20px 60px;
}
.trfoc{
	height:130px;
	background-color:white;
	border:10px solid lavender;
}
.trfoc h2{
	color:red;
	margin:10px 0px 0px 5px;
}
.trfoc p{
	margin:5px 0px 0px 5px;
}
.trfoc i{
	font-size:40px;
	color:red;
	margin:20px 0px 20px 60px;
}
.p1{
	background:#00bfff;
	width:80%;
	border-radius:20px;
	height:10px;
}
.p2{
    background:orange;
	width:30%;
	border-radius:20px;
	height:10px;	
}
.p3{
	background:#4cbb17;
	width:60%;
	border-radius:20px;
	height:10px;
}
.p4{
	background:red;
	width:40px;
	border-radius:20px;
	height:10px;
}