.main{
			height:400px;
			width: 800px;
			border:3px solid black;
			margin-left: 300px;
			margin-top: 100px; 
		}
		.sub1{
			height:65px ;
			width:800px ;
			/*background-color:orange;*/

		}
		.sub2{
			height: 335px;
			width: 800px;
			border-top:3px solid black;
		}
		.s11{
			height:45px;
			width:200px ;
			text-align:center;
			margin-top:20px;
			float: left;
		}
		.s12{
			height:45px;
			width:200px ;
			text-align:center;
			margin-top: 20px;
			float: left;
		}
		.s13{
			height:45px;
			width:200px ;
			text-align:center;
			margin-top: 20px;
			float: left;
		}
		.s14{
			height:45px;
			width:200px ;
			text-align:center;
			margin-top: 20px;
			float:right;
		}
		.s21{
			height:32px;
			width:800px;
			/*background-color: pink;*/
		}
		.s22{
			height: 150px;
			width: 800px;
			/*background-color: yellow;*/
		}
		.s23{
			height: 150px;
			width: 800px;
			/*background-color:pink;*/
		}