.image{
	background-image:url(../images/thub5.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	width: 100%;
  height: 100vh;
  position: relative;
}

.menu{
	color:white;
	position:fixed;
	width:99%;
	background:rgb(0,0,0,0.2);
	margin:0px 0px 0px -30px;

	/*cursor:pointer;
	/*overflow: hidden;*/

 top: 0;
  /*background-color:white;*/
 /* position: fixed;*/
  width: 100%;
}
.logo img{
	margin:40px 0px 0px 50px;
	cursor:pointer;
}
.navbar li{
	list-style:none;
	float:left;
	margin:50px 0px 0px 35px ;
	cursor:pointer;
	}
	.home{
		margin-left:65px;
	}
.navbar li a{
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	font-family:"Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar li a:hover{
	color:#41A451;
	text-decoration:none;
	cursor: pointer;
}
.navbar li a:active{
	color:#41A451;
	text-decoration:none;
}
.s1{
	color:#f1c30f;
	font-size:24px;
}
.r2{
	margin:50px 0px 0px 0px ;
}
.cert img{
	margin-left: 150px;
	height:70px;
	width: 70px;
}
.cert2 p{
	margin-left: 150px;
}
.cert2 h4 b{
	margin-left: 150px;
}
.search img{
    height: 70px;
    width: 70px;
    margin-left: 10px;
}
.search p{
    margin-left: 250px;
}
.search h4 b{
    margin-left: 250px;
}
.set img{
height: 70px;
    width: 70px;
    margin-left: -20px;

}
.set p{
margin-left: 200px;
}
.set h4 b{
	margin-left: 150px;

}
.rotation1{
	transform: rotate(-90deg);
	color: #f1c30f;
	font-size:16px;
	font-weight:bold;
	text-transform: uppercase;
	/*margin-right:-50px;*/
	margin-left:-30px;
	margin-top:30px;
}
.cls1 h1{
	font-size:40px;
	font-family:"Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left:-80px;
}
.cls1 span{
	font-size:25px;
	color:#555555;
	margin-left:-80px;
}
.r3{
	margin:70px 0px 0px 0px;
	background-color: #F1F1F1;
	padding-bottom: 90px;
	padding-top:20px;
}

.cls3 iframe{
	height:200px;
	width:400px;
	margin:50px 0px 0px 100px;
	border:10px solid #D7D7D7;
}
.cls2 p{
	margin:30px 0px 0px -20px;
}
.rotation2{
	transform: rotate(-90deg);
	color: #f1c30f;
	font-size: 16px;
	font-weight:bold;
	/*text-transform: uppercase;*/
	margin-right: -80px;
	margin-left:-25px;
	margin-top: 50px;
}
.cls4 h2 b{
	/*margin:50px 0px 0px 0px;*/
	font-size:40px;
}
.cls5 p{
	margin: 50px 0px 0px -20px;
}
.r4{
	margin:20px 0px 0px 0px;
}
.left{
	margin:40px 0px 0px 40px;
	font-size:20px;
}
.right{
	margin:40px 0px 0px 15px;
	font-size:20px;

}
.img1 img{
    height:300px;
    width:300px;
}
.img1 a:hover{
		opacity:0.5;
}
.img2 img{
    height:280px;
    width:300px;
    margin:0px 0px 0px -80px;
}
.img2 a:hover{
	opacity:0.5;
}
.r5{
	padding: 20px;
}
.cls6{
	color:#f1c30f;
	font-size:24px;

}
.cls7 li a:focus{
	color:#f1c30f;
}
/*.comp{
	margin:0px 0px 0px -45px;
}*/
.cls7 li {
	list-style: none;
	float:left;
	color:black;
	text-transform: capitalize;
	margin:50px 0px 0px 35px ;
}
.cls7 li a {
	color:black;
}
.cls8 img{
	margin-left: 200px;
}
.cls9 h1{
	color:#e4e4e4;
	margin: 100px 0px 0px 60px;
	font-size: 48px;
	font-weight: bold;
}
.cls9 span{
   font-size: 30px;
   font-weight: 500;
   margin-left: 60px; 
}
.cls9 p{
	margin-left: 50px;
	margin-top: 20px;
	color:grey;
}
.cls9 button{
	background-color:black;
	border-radius: 20px;
	color:white;
	/*font-size:20px;*/
	margin-left:50px;
	margin-top: 30px; 
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;

}
.cls9 button a{
	text-decoration: none;
	color:white;
}
.rotation3{
	transform: rotate(-90deg);
	color: #f1c30f;
	font-size: 16px;
	font-weight:bold;
	/*text-transform: uppercase;*/
	/*margin-right: -80px;
	margin-left:-25px;
	margin-top: 50px;*/
	margin:50px 0px 0px 0px;
}
.cls10 h2 b{
	margin:0px 0px 0px -40px;
	font-size:40px;
}
.cls10 h2 b span{
	margin:0px 0px 0px -40px;
	font-size:40px;
}
.img3 img{
    height:250px;
    width:280px;
    margin:30px 0px 0px -60px;

}
.img3 a:hover{
		opacity:0.5;
}
.img4 img{
    height:250px;
    width:280px;
    margin:30px 0px 0px -80px;
}
.img4 a:hover{
	opacity:0.5;
}
.r7{
	padding-top: 30px;
}
.cls11{
	color:#f1c30f;
	font-size:24px;
}
.cls12{
	margin-top:30px;
}
.p1 img{
	height: 200px;
	width: 300px;
	margin:50px 0px 0px 200px;
}
.p2 img{
	height: 200px;
	width: 300px;
	margin:50px -30px 0px 100px;
}
.p3 img{
	height: 200px;
	width: 300px;
	margin:50px -30px 0px 30px;
}
.p1 h1 a{
	margin: 20px 0px 0px 200px;
	font-size: 20px; 
	color:black;
	text-decoration: none;
}
.p2 h1 a{
	margin: 20px 0px 0px 100px;
	font-size: 20px; 
	text-decoration: none;
	color:black;


}
.p3 h1 a{
	margin: 20px 0px 0px 30px;
	font-size: 20px; 
	text-decoration: none;
	color:black;


}
.p1, 
.p2,
 .p3,
 h1 a:hover{
 	color:#2ecc71;
}
.p1 p{
	color: black;
	margin-left: 200px;
	margin-bottom: 30px;
   
}
.p2 p{
	color: black;
	margin-left: 100px;
	margin-bottom: 30px;
   
}
.p3 p{
	color: black;
	margin-left: 30px;
	margin-bottom: 30px;
}
.p1 span a{
	color: #2ecc71;;
	margin-left: 200px;
	
   
}
.p2 span a{
	color: #2ecc71;;
	margin-left: 100px;
	
   
}
.p3 span a{
	color: #2ecc71;;
	margin-left: 30px;
}
.r8{
	padding-top: 150px;
	padding-bottom: 70px;
}
.r9{
	background-color:#363636;
	padding-bottom:60px;
}
.d1 span{
	font-size:14px;
	color:white;
}
.d1{
	margin-top:40px;
}
.r9 img{
	margin:40px 0px 0px 0px; 
}
.cls13 i{
	color:#bdbdbd;
	font-size:24px;
	margin:25px 0px 0px 25px;
}
.d2 ul li a{
	color:#2ecc71;
	font-size:14px;
}
.m1{
	font-size:14px;
	color:white;
	margin:40px 0px 0px 0px; 
}
.m2 i{
	color:white;
	font-size:15px;
	margin:23px 0px 0px 0px;
}
.m2 p{
	color:white;
	font-size:13px;
	margin:20px 0px 0px -40px;
}
.m3 i{
	color:white;
	font-size:12px;
	margin:13px 0px 0px 0px;
}
.m3 p{
	color:white;
	font-size:13px;
	margin:10px 0px 0px -60px;
}
.m3 h6{
	color:white;
	margin:45px 0px 0px 15px;
	font-size:14px;
}
.sub{
	margin:30px 0px 0px 10px ;
}
.sub input{
	border-radius:20px;
	padding:10px 22px;
	line-height: 20px;
	border-color:white;
}
.sub button{
	margin:0px 0px 0px -20px;
	padding:9px;
	border-top-right-radius: 23px;
	border-bottom-right-radius: 23px;
	border-color:#2ecc71;
	color:white;
	background-color: #2ecc71;
}
.r10{
	background-color:#3A3B3C;
	padding-top: 20px;
	padding-bottom: 20px;
}
.r10 a{
	color:#999;
}
.t1 p{
	color:#999;
}
.t3 a p{
	margin:0px 0px 0px -130px ;
}
